#login {
	text-align: center;
	width: 300px;
	height: 300px;
	background-color: #555;
}

#margin {
	height: 20px;
}

h2 {
	color: white;
	font-size: 2rem;
}

span#login-error-information,
span#register-error-information {
	color: red;
	font-size: 0.8rem;
	font-style: italic;
}

#login input[type="email"],
#login input[type="password"],
#register-form input[type="email"],
#register-form input[type="password"],
#register-form input[type="password"]:last-of-type {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 250px;
}

#login #buttons,
#register-form #buttons {
	margin-top: 10px;
}

#login #buttons button,
#register-form #buttons button {
	margin: 0 5px;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

#login #buttons button:first-of-type {
	background-color: orange;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	border: none;
}

#login #buttons button:first-of-type:hover {
	box-shadow: 0px 0px 10px orange;
}

#login #buttons button:last-of-type,
#register-form #buttons button:last-of-type {
	background-color: #f1f1f1;
	color: #555;
	font-size: 1rem;
	font-weight: bold;
	border: none;
}

#login #buttons button:last-of-type:hover,
#register-form #buttons button:last-of-type:hover {
	box-shadow: 0px 0px 10px white;
}

#error-message {
	color: red;
}
